<div class="col card mt-3 vh-auto">
    <div class="col-md-12 ">
          <div class="m-3">
            <img src="assets/one2Learn-Logo.png" alt="" class="src  rounded-circle"  width="100px"  height="100px">
          </div>
    </div>


    <div class="col-md-12  ">
        <div class="col-md-12">
             <h2 class="ms-4"> <i class="fas fa-info-circle me-2 color-blue"></i>Information de l'article </h2>
        </div>

         <div class="col-md-12"> 
             <div class="row m-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Code article" aria-label="First name">
               </div>
               <div class="col">
                    <input type="text" class="form-control" placeholder="Designation" aria-label="Last name">
               </div>
              </div>
          </div>

          <div class="col-md-12"> 
           <div class="row m-3">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Prix Unitaire HT " aria-label="First name">
             </div>
             <div class="col">
                  <input type="text" class="form-control" placeholder="Taux TVA" aria-label="Last name">
             </div>
            </div>
        </div>

        <div class="col-md-12"> 
           <div class="row m-3">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Prix Unitaire TTC" aria-label="First name">
             </div>
             <div class="col">
               <select class="form-select" id="autoSizingSelect">
                   <option selected>Choose a category</option>
                   <option value="1">One</option>
                   <option value="2">Two</option>
                   <option value="3">Three</option>
                 </select>
             </div>
            </div>
        </div>

   </div>

   
   <div class="col-md-12">
       <div class="row m-3">
           <div class="d-grid gap-2 d-md-flex justify-content-md-end">
               <button class="btn btn-danger me-md-2" type="button">  <i class="fas fa-ban"></i> &nbsp; Annuler</button>
               <button class="btn btn-primary" type="button"> <i class="fas fa-save"></i> &nbsp; Enregistrer</button>
             </div>
       </div>
   </div>

   
    

</div>
