<div class="row card w-100 mb-1">
    
    <div class="row">
        <div class="col-md-2 border-end  border-info text-center ">
            <div>
                <img src="assets/user2-Logo.png" alt="detail-article" class="" width="80px" height="80px">
    
            </div>
        </div>
    
        <div class="col-md-4   border-end  border-info">
            
               <div class="row">
                   <div>  <i class="fa-solid fa-key me-2 color-blue"></i>  Nom</div>
               </div>

               <div class="row">
                  <div> <i class="fas fa-info-circle me-2 color-blue"></i> Prenom</div>
               </div>

               <div class="row">
                   <div> <i class="fas fa-phone-alt me-2 color-blue"  ></i> +221 775087069</div>
               </div>

            
        </div>
    
           <!--  detail category -->
        <div class="col-md-3  border-end  border-info">
            
               <div class="row mt-1">
                   <div> <i class = "fas fa-home color-blue"></i> &nbsp;&nbsp; Adresse1 Adresse2 </div>
               </div>
               <div class="row mt-1">
                  <div> <i class = "fas fa-map-marker-alt color-blue"></i> &nbsp;&nbsp; 5005  Dakar </div>
               </div>

               <div class="row mt-1">
                  <div class=""> <i class = "fas fa-globe-africa color-blue"></i>  &nbsp;&nbsp; Senegal </div>
               </div>

               
        </div> 


          <!--  button action -->
        <div class="col-md-3  ">
               <div class="row ">
                   <div class="col-md-4"> <button class="btn"> <i class="fas fa-pen color-blue"></i> Modifier</button> </div>
                   <div class="col-md-4"> <button class="btn"> <i class="fa-solid fa-trash-can"  style="color: red;"></i>Supprimer </button></div>
                   <div class="col-md-4"> <button class="btn h6"> <i class="fas fa-eye  color-blue"></i> Detail</button> </div>
               </div>
            
        </div> 

    </div>

</div>