<div class="row w-100 mb-1">
    
    <div class="row">
        <div class="col-md-2 border-end  border-info text-center ">
            <div>
                <img src="assets/one2Learn-Logo.png" alt="detail-article" class="" width="100px" height="100px">
    
            </div>
        </div>
    
        <div class="col-md-4   border-end  border-info">
            
               <div class="row mt-1">
                   <div>  <i class="fa-solid fa-key me-2 color-blue"></i>  &nbsp; Nom</div>
               </div>

               <div class="row mt-1">
                  <div> <i class="fas fa-info-circle me-2 color-blue"></i> &nbsp; Prenom</div>
               </div>

               <div class="row mt-1">
                   <div> <i class="fas fa-phone-alt me-2 color-blue"  ></i> &nbsp; +221 775087069</div>
               </div>
            
        </div>
    
           <!--  detail category -->
        <div class="col-md-3  border-end  border-info">
            
            <div class="row mt-1">
                <div>  <i class="fas fa-qrcode me-2 color-blue"></i>  &nbsp; CMD-123543</div>
            </div>

            <div class="row mt-1">
               <div> <i class="far fa-calendar-check me-2 color-blue"></i> &nbsp; Date</div>
            </div>

            <div class="row mt-1">
                <div> <i class="fas fa-cart-arrow-down me-2 color-blue"  ></i> &nbsp;Livree </div>
            </div>

               
        </div> 


          <!--  button action -->
        <div class="col-md-3  ">
               <div class="row ">
                   <div class="col-md-6"> <button class="btn"> <i class="fas fa-pencil-alt color-blue "></i>&nbsp; &nbsp;Modifier</button> </div>
                   <div class="col-md-6"> <button class="btn"> <i class="fas fa-trash-alt color-red "></i>&nbsp; &nbsp;Supprimer </button> </div>         
               </div>
            
        </div> 

    </div>

</div>