<div class="col card mt-3 vh-auto">
    <div class="col-md-12 ">
          <div class="m-3">
            <img src="assets/user2-Logo.png" alt="" class="src  rounded-circle"  width="100px"  height="100px">
          </div>
    </div>


    <div class="col-md-12  ">
         <div class="row">
            <div class="col-md-6">
                <h3 class="ms-4"> <i class="fas fa-info-circle me-2 color-blue"></i>Information du Client / fournisseur</h3>
           </div>
   
           <div class="col-md-6">
               <h4> <i class="fas fa-home color-blue"></i>  &nbsp;Adresse</h4>
          </div>
         </div>

         <div class="col-md-12"> 
             <div class="row m-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nom" aria-label="First name">
               </div>
               <div class="col">
                    <input type="text" class="form-control" placeholder="Adresse1" aria-label="Last name">
               </div>
              </div>
          </div>

          <div class="col-md-12"> 
           <div class="row m-3">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Prenom"  aria-label="First name">
             </div>
             <div class="col">
                  <input type="text" class="form-control" placeholder="Adresse2" aria-label="Last name">
             </div>
            </div>

            <div class="col-md-12"> 
                <div class="row m-3">
                   <div class="col">
                       <input type="text" class="form-control" placeholder="Email" aria-label="Email">
                  </div>
                  <div class="col">
                       <input type="text" class="form-control" placeholder="Ville" aria-label="Ville">
                  </div>
                 </div>
             </div>


             <div class="col-md-12"> 
                <div class="row m-3">
                   <div class="col">
                       <input type="text" class="form-control" placeholder="Telephone" aria-label="Telephone">
                  </div>
                  <div class="col">
                       <input type="text" class="form-control" placeholder="Code Postal" aria-label="Code Postal">
                  </div>
                 </div>
             </div>

             
             <div class="col-md-12"> 
                <div class="row m-3">
                   <div class="col">
                         &nbsp; &nbsp; &nbsp;
                  </div>
                  <div class="col">
                       <input type="text" class="form-control" placeholder="Pays" aria-label="Pays">
                  </div>
                 </div>
             </div>
   
        </div>

   </div>

   
   <div class="col-md-12">
       <div class="row m-3">
           <div class="d-grid gap-2 d-md-flex justify-content-md-end">
               <button class="btn btn-danger me-md-2" type="button">  <i class="fas fa-ban"></i> &nbsp; Annuler</button>
               <button class="btn btn-primary" type="button"> <i class="fas fa-save"></i> &nbsp; Enregistrer</button>
             </div>
       </div>
   </div>

   
    

</div>
