<div class="row w-100 mb-1">
    
    <div class="row">

        <div class="col-md-3   border-end  border-info mt-2">
            
               <div class="row text-center">
                   <div><i class="fas fa-calendar  color-blue"></i>&nbsp;&nbsp; 27-0362022</div>
               </div>
            
        </div>
    
           <!--  detail category -->
        <div class="col-md-3  border-end  border-info  mt-2">
            
               <div class="row  text-center">
                   <div> <h5>129</h5></div>
               </div>
               
        </div> 


          <!--  button action -->
        <div class="col-md-3  border-end  border-info  mt-2 ">
               <div class="row text-center ">
                   <div class="col-md-12"> 
                       <button class="btn"> <i class="fas fa-minus  color-blue"></i>&nbsp; &nbsp;Sortie</button>
                  </div>
                 
               </div>
        </div> 

        <div class="col-md-3  mt-2 ">
            <div class="row ">
                <div class="col-md-12"> 
                    <button class="btn"> <i class="fas fa-user color-blue"></i>&nbsp; &nbsp;Commande Client</button> 
                </div>
            </div>
       </div> 

    </div>

</div>